.Category
  width: 100%
  max-width: 1280px
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  margin-top: 1rem

  > div
    margin: 0.5rem
    border-radius: 1rem

    img
      border-radius: 1rem 1rem 0 0