@import "../../src/_mixin.scss"

.Navigation
  width: 100%
  max-width: 1280px
  display: flex
  flex-direction: column
  place-items: center
  margin: 1rem 0

  span
    span
      font-weight: 600
  
  a
    text-decoration: none

    &:hover
      color: #1976d2

.User__Link
  display: flex
  width: 100%
  place-items: center
  justify-content: space-between

  svg
    width: 1rem
    height: 1rem
    border: 1px solid #333
    border-radius: 50%
    padding: 0.2rem

  img
    width: 100px
    margin-right: 1rem

.Mo__Navi
  display: none
  width: 100%

  a
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: 2rem
  
  button
    margin-right: 2rem

  img
    height: 1.6rem
  
  &:first-child
    display: flex
    flex-direction: column

@include mobile
  
  .Mo__Navi
    display: flex
    position: fixed
    background-color: white
    z-index: 99
    top: 0
    left: 0
    justify-content: space-between

    &:first-child
      display: flex
      flex-direction: row
      place-items: center
      justify-content: space-between
      padding: 1rem 2rem
  
  .User__Link
    display: none

.UserData
  display: grid
  grid-template-columns: 0.5fr 3.2fr 1fr
  align-items: center